body {
    font-family: Arial, sans-serif;
}

.accordion {
    width: 80%;
    margin: 20px auto;
}

.accordion-item {
    border: 3px solid #000000;
    margin-bottom: 10px;
}

.accordion-header {
    background: #46c963;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
H1{
font-family: cursive;
    color: rgb(148, 54, 236);
}

b{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    border: 20px;
}
.accordion-header:hover {
    background-color: rgb(165, 136, 216);
}

.accordion-content {
    display: none;
    padding: 10px;
    background: #d46419;
    border-top: 3px solid #090909;
}

.arrow {
    transition: transform 0.3s ease;
    font-size: medium;
    color: black;
}
